.fade-in {
    animation: fadeIn 2s ease forwards;
    opacity: 0;
}

.fade-in-delay {
    animation: fadeIn 2.8s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}
